[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
kademlia = "*"
thrift = "*"
plyvel = "*"
appdirs = "*"
dhtfs-peer = {editable = true,path = "."}
python-dateutil = "*"
