[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
dhtfs = {editable = true,path = "."}
kademlia = "*"
thrift = "*"
plyvel = "*"
appdirs = "*"
python-dateutil = "*"
redis = "*"
daemonize = "*"
